* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Partials */

#navbar {
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
}

/* Display Containers */
.listContainer {
    padding: 20px;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* Display Cards */
.artistCard {
    border: 1px solid black;
    display: flex;
    gap: 20px;
}

/* */
#newArtistForm {
    padding: 20px;
    display: flex;
    gap: 10px;
}